.git
.github
**/.next
**/.terraform
coverage
**/node_modules
playwright-report
test-results
*.tfplan
*.tfstate
*.tfstate.*
.env
.env.*
!.env.example
npm-debug.log*
Dockerfile*
compose*.yaml
docs/screenshots
